<mat-sidenav-content>
<ul>
    <p>todo-list works!
      <li><b>Description:</b> {{todoItem1.description}}<br><b>Date:</b> {{todoItem1.dueDate}}<br><b>Complete?</b> {{todoItem1.isCompleted}}<br><b>Delete?</b> {{todoItem1.isDeleted}}</li>
      <li><b>Description:</b> {{todoItem2.description}}<br><b>Date:</b> {{todoItem2.dueDate}}<br><b>Complete?</b> {{todoItem2.isCompleted}}<br><b>Delete?</b> {{todoItem2.isDeleted}}</li>
      <li><b>Description:</b> {{todoItem3.description}}<br><b>Date:</b> {{todoItem3.dueDate}}<br><b>Complete?</b> {{todoItem3.isCompleted}}<br><b>Delete?</b> {{todoItem3.isDeleted}}</li>
    </p>
  </ul>
</mat-sidenav-content>
