.mat-toolbar {
  height: 100px;
}

.background {
  background-color: #303030;
  color: lightgray;
}

.form {
  min-width: 20%;
  max-width: 70%;
  width: 100%;
}

.full-width {
  width: 100%;
}

.button {
  margin-top: 5px;
  margin-right: 100px;
}
